@model   IEnumerable<DoAn1_BanFinal.Models.Donhang>

@{
    ViewData["Title"] = "BaoCaoDoanhThu";
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Chartjs :: w3layouts</title>
<!-- //charts -->
</head>
<body>
		<div class="chart_agile">
        <div class="col-md-12 w3ls-graph">
                    <div class="agile-last-grid">
                        <div class="area-grids-heading">
                            <h3>Báo cáo Doanh Thu</h3>
                        </div>
                        <div id="graph9"></div>
                        <script>
                        var day_data = [
                          {"elapsed": "1", "value": 560000000},
                          {"elapsed": "2", "value": 548880421},
                          {"elapsed": "3", "value": 354654659},
                          {"elapsed": "4", "value": 445879531},
                          {"elapsed": "5", "value": 321321599},
                          {"elapsed": "6", "value": 887978456},
                          {"elapsed": "7", "value": 513218789},
                          {"elapsed": "8", "value": 664654654},
                          {"elapsed": "9", "value": 998564654},
                          {"elapsed": "10", "value": 664849841},
                          {"elapsed": "11", "value": 263112596},
                          {"elapsed": "12", "value": 751231321}
                        ];
                        Morris.Line({
                          element: 'graph9',
                          data: day_data,
                          xkey: 'elapsed',
                          ykeys: ['value'],
                          labels: ['value'],
                          parseTime: false
                        });
                        </script>
                            @{
                              int[] GiaTri = new int[12];
                            }
                            @foreach (var item in Model)
                            {
                              GiaTri[item.DhThoigianmua.Month-1] += item.DhTongtien;
                            }
                            @for(int i=0;i<GiaTri.Length;i++)
                            {
                              <p>@GiaTri[i]</p>
                            }
                            
                  </div>
		    </div>
		</div>

</body>
</html>


