@model DoAn1_BanFinal.Models.Chitietdonhang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chitietdonhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CtDhId" />
            <div class="form-group">
                <label asp-for="SpId" class="control-label"></label>
                <select asp-for="SpId" class="form-control" asp-items="ViewBag.SpId"></select>
                <span asp-validation-for="SpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DhId" class="control-label"></label>
                <select asp-for="DhId" class="form-control" asp-items="ViewBag.DhId"></select>
                <span asp-validation-for="DhId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtDhSoluong" class="control-label"></label>
                <input asp-for="CtDhSoluong" class="form-control" />
                <span asp-validation-for="CtDhSoluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtDhThanhtien" class="control-label"></label>
                <input asp-for="CtDhThanhtien" class="form-control" />
                <span asp-validation-for="CtDhThanhtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

